@*@model Tuple<Presentation_Layer.ViewModels.MessageDetailVM, List<Presentation_Layer.ViewModels.AccountDetailVM>>*@
@model Presentation_Layer.ViewModels.MessageDetailVM;

<div id="">
    <h1>Create a message</h1>
    <form asp-controller="Message" asp-action="SendMessage" method="post">
        <div class="formulierRij">
            <div class="formulier-half">
                <p><label asp-for="@Model.Title"></label></p>
                <input asp-for="@Model.Title" />
                <span asp-validation-for="@Model.Title"></span>
            </div>
        </div>
        <div class="formulierRij">
            <div class="formulier-half">
                <p><label asp-for="@Model.MessageContent"></label></p>
                <input asp-for="@Model.MessageContent" />
                <span asp-validation-for="@Model.MessageContent"></span>
            </div>
        </div>
        <div class="formulierRij">
            <div class="formulier-half">
                Receiver<select asp-for="@Model.ReceiverId" name="ReceiverId">
                @foreach(Presentation_Layer.ViewModels.AccountDetailVM account in Model.accounts)
                {
                    <option value="@account.Id">@account.Username</option>
                }
                </select>
            </div>
        </div>
        <div class="formulierRij">
            <input type="submit" value="Opslaan" />
        </div>
    </form>
</div>