@using Presentation_Layer.ViewModels
@model Presentation_Layer.ViewModels.MessageViewModel 

<body>
    <a asp-area="" asp-controller="Post"></a>
    <div id="">
        <table class="table table-striped table-hover">
            <h1> All posts </h1>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Content</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MessageDetailVM item in Model.Messages)
                {
                    @if(item.SenderId == Model.Account.Id)
                    {


                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageContent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SenderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiverId)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                    }
                }
        </table>
    </div>
</body>