@using Presentation_Layer.ViewModels
@model Presentation_Layer.ViewModels.PostDetailVM

@{ 
    ViewData["Title"] = "Detail";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
<div class="formulierRij">
    <div class="post-desc">
    @Html.DisplayFor(model => model.PostContent)
    </div>
    @if(Model.account.Id == Model.AccountId)
    {
        <div>
            <a asp-area="" asp-controller="Post" asp-action="Edit" asp-route-postID="@Model.Id" class="btn btn-danger">Edit Post</a>
        </div>
    }
</div>
<a asp-area="" asp-controller="Reply" asp-action="ShowReplies"></a>
<div id="table-wrapper">
    <div id="table-scroll">
        <table class="table table-striped table-hover">
            <h1>Replies</h1>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Content</th>
                    <th>Reaction Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ReplyDetailVM item in Model.Replies)
                {
                    @if (item.PostId == Model.Id)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Username, "Profile", "Account", new { id = item.Id })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReplyContent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReactionTime)
                            </td>
                            @if (Model.account.Administrator)
                            {                           
                                <td>
                                    @Html.ActionLink("Delete", "Delete", "Reply", new { id = item.Id}, null)
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>

        </table>
        <div class="welkomRij">
            <div class="welkomRijContent">
                <a asp-area="" asp-controller="Reply" asp-action="LeaveReply" asp-route-postID="@Model.Id"> <button>Leave Reply</button></a>
            </div>
        </div>
    </div>
</div>